$primary-color: #166546;
$white: #fff;

@mixin flexCenter {
  justify-content: center;
  display: flex;
}
$mobile: 1700px;
$mobile2: 800px;
$mobile3: 400px;
$mobile4: 1200px;
$mobile4: 1200px;
$mobile5: 460px;
