@import './resets';
@import './varaibles';

header {
  display: flex;
  justify-content: center;
  position: relative;

  .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;

    @media (max-width: $mobile2) {
      display: block;
    }
  }

  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }

  nav {
    z-index: 1000;
    width: 100%;
    position: fixed;
    height: 120px;
    justify-content: space-between;
    display: flex;
    max-width: 1500px;

    img {
      @media (max-width: $mobile3) {
        visibility: hidden;
      }
    }

    ul {
      div {
        i {
          color: white;
        }
      }
    }

    div {
      i {
        color: white;
      }
    }

    .mainMenu {
      display: flex;
      list-style: none;

      .icons i {
        color: white;
        @media (max-width: $mobile2) {
          display: inline-block;
          padding: 12px;
        }
      }

      .closeMenu {
        @media (max-width: $mobile2) {
          display: block;
          position: absolute;
          top: 20px;
          right: 20px;
        }
      }

      @media (max-width: $mobile2) {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
      }

      li {
        a {
          display: inline-block;
          padding: 15px;
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
        }
      }
    }

    ul {
      display: flex;
      list-style: none;
      text-decoration: none;
      margin: auto 0;

      li {
        padding: 30px;

        a {
          text-decoration: none;
          color: white;
          font-family: fantasy;
          letter-spacing: 1px;
          font-size: 1.2rem;

          &:hover {
            color: $primary-color;
            transition: ease-in-out 0.25s;
          }
        }
      }
    }
  }
}

.video {
  width: 100%;
  height: 100vh;
  @include flexCenter();

  video {
    position: fixed;
    filter: brightness(0.1);
    z-index: -999;
  }

  .headerText {
    max-width: 1200px;
    margin: auto;
    width: 100%;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
      font-size: 45px;
      font-weight: 900;
      line-height: 1.5;
      color: $white;

      @media (max-width: $mobile) {
        padding-left: 50px;
      }

      @media (max-width: $mobile2) {
        font-size: 30px;
      }
      @media (max-width: $mobile3) {
        font-size: 20px;
      }
    }
  }
}

.underline {
  width: 100.6%;
  height: 4px;
  background-color: $primary-color;
}

.social-left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 200px;
  right: auto;
  z-index: 10;
  color: $white;

  @media (max-width: $mobile) {
    display: none;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      padding: 10px;

      a {
        cursor: pointer;
        padding: 5px;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        cursor: pointer;

        i {
          font-size: 15px;
          color: white;
          cursor: pointer;

          &:hover {
            transform: translate(0px, -5px);
            color: $primary-color;
            transition: all 0.25s;
          }
        }
      }
    }
  }

  li:nth-child(4) {
    padding-bottom: 10px;

    a {
      padding-bottom: 40px;
    }
  }
  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: $white;
  }
}

.container {
  width: 100%;
  height: 100vh;
  background: black;
  z-index: -2;
  @include flexCenter();

  .circle {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    margin-top: 970px;
    z-index: 1;
    background: #017143;
    clip-path: circle(700px at right 900px);
    @media (max-width: $mobile4) {
      display: none;
    }
  }

  ul {
    margin: auto 0;
    z-index: 2;
    @media (max-width: $mobile4) {
      display: none;
    }
    @media (max-width: $mobile2) {
      display: none;
    }
    li {
      list-style: none;
      cursor: pointer;
      padding-top: 30px;
      padding-bottom: 30px;
      transition: 0.5s;

      img {
        max-width: 60px;
      }

      &:hover {
        transform: translateY(-15px);
      }
    }
  }

  .Content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    @include flexCenter();
    z-index: 2;
    align-items: center;

    @media (max-width: $mobile4) {
      display: block;
    }
    @media (max-width: $mobile4) {
      display: flex;
      padding: 50px;
    }
    @media (max-width: $mobile2) {
      padding: 0px;
    }

    .imgBox {
      width: 600px;
      display: flex;
      justify-content: flex-end;
      @media (max-width: $mobile4) {
        display: none;
      }

      img {
        max-width: 340px;
        margin-right: 50px;
      }
    }
  }

  .textBox {
    margin: auto;
    width: 55%;
    @media (max-width: $mobile4) {
      justify-content: center;
      text-align: center;
      align-items: center;
      width: 100%;
      padding: 20px;
    }

    p {
      color: white;
      margin-bottom: 30px;
      padding-top: 30px;
      font-family: Raleway, sans-serif;

      @media (max-width: $mobile3) {
        font-size: 15px;
      }
    }

    h3:nth-child(1) {
      color: $white;
      font-size: 4em;
      line-height: 1.2em;
      font-weight: 500;
      @media (max-width: $mobile3) {
        font-size: 2em;
      }
    }

    a {
      display: inline-block;
      margin-top: 20px;
      padding-bottom: 8px 20px;
      background: #017143;
      color: $white;
      border-radius: 40px;
      font-weight: 500;
      letter-spacing: 1px;
      text-decoration: none;
      padding: 20px;
    }

    h2 {
      color: $white;
      font-size: 2.5em;
      font-weight: 500;

      span {
        color: #017143;
        font-size: 1em;
        font-weight: 900;
        @media (max-width: $mobile3) {
          font-size: 25px;
        }
      }
    }
  }
}

.exercise {
  width: 100%;
  height: 100vh;
  background: black;
  @include flexCenter();
  align-items: center;
  .MainLoseWeight {
    display: flex;
    width: 800px;
    @media (max-width: $mobile4) {
      display: inline;
    }

    .Delight {
      color: $white;
      justify-content: center;
      display: flex;
      align-items: center;
      width: 230px;
      padding-left: 20px;
      h3 {
        @media (max-width: $mobile4) {
          margin: 20px;
        }
      }
    }
    .LoseWeight {
      color: $white;
      width: 200px;
      @media (max-width: $mobile4) {
        width: auto;
      }

      h3 {
        @media (max-width: $mobile4) {
          display: flex;
          justify-content: center;
          margin: 20px;
        }
      }
    }

    .underLHorizontal {
      content: '';
      display: block;
      width: 50px;
      height: 1px;
      margin: auto;
      background-color: $white;
      margin-left: 20px;
      margin-right: 20px;
      width: 120px;
      @media (max-width: $mobile4) {
        width: 1px;
        height: 120px;
        margin: 0 auto;
      }
    }
  }
  .underL {
    content: '';
    display: block;
    width: 1px;
    height: 50px;
    margin: auto;
    background-color: $white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .Healthy {
    color: $white;
    display: flex;
    justify-content: center;
  }
  body > section.exercise > div > div.MainLoseWeight > div:nth-child(3) > h3 {
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .SignUp {
    color: white;
    h3 {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}

.Core {
  width: 100%;
  height: 100vh;
  background: black;
  @include flexCenter();
  align-items: center;

  .ContactForm {
    width: 500px;
    color: $white;
    @media (max-width: $mobile2) {
      width: auto;
      padding: 15px;
    }
    form {
      .submit {
        display: inline-block;
        margin-top: 20px;
        padding-bottom: 8px 20px;
        background: #017143;
        color: $white;
        border-radius: 40px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 20px;
        border: none;
        cursor: pointer;
      }
    }

    h2 {
      font-size: 4rem;
      margin-bottom: 50px;
      @media (max-width: $mobile2) {
        font-size: 3rem;
      }
    }

    #content {
      width: 100%;
      margin-top: 20px;
      height: 200px;
      padding: 10px;
    }
    #name {
      width: 50%;
      padding: 10px;
      @media (max-width: $mobile4) {
        width: 100%;
      }
    }
    #email {
      width: 49%;
      padding: 10px;
      @media (max-width: $mobile4) {
        width: 100%;
      }
    }
  }
}

footer {
  width: 100%;
  height: 50px;
  background: black;
  display: flex;
  justify-content: center;
  color: white;
}
